footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
}

footer > span {
  margin: 0 2px;
}

footer a {
  text-decoration: none;
  background-color: #A7BBCA;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  text-decoration: none;
  color: black;
}