.footer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: .8em;
  font-family: 'Montserrat', sans-serif;
}

.footer a {
  text-decoration: none;
  background-color: #A7BBCA;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a:visited {
  text-decoration: none;
  color: black;
}