/* Company Info Styles */
.companyInfoContainer {
  text-align: center;
}

.companyInfoTitle {
  padding: 20px;
}

.noCompanyInfoContainer {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}

/* Stock Info Styles */
.stockTitle {
  padding-top: 20px;
  padding-bottom: 12px;
}

.stockSwitch {
  padding-bottom: 15px;
}

.stockInfoContainer {
  text-align: center;
}

.stockGraph {
  padding-top: 5vh;
}