.splashText {
  padding-left: clamp(5vw, 10vw, 20vw);
  text-align: right;
  font-size: clamp(1em, 3em, 4em);
  font-family: 'Montserrat', sans-serif;
}

.splashText > span {
  background: #A7BBCA;
}
