.splashContainer {
  max-width: 100vw;
}

.splashButtonContainer {
  text-align: right;
}

.splashTextAndButtonContainer {
  padding-right: 3vw;
}

@media only screen and (max-width: 600px) {
  .splashContainer {
    text-align: center;
  }

  .splashImageContainer {
    display: none;
  }

  .splashButtonContainer {
    text-align: center;
  }
}
